

.navLink:last-child{
	background:#CFD8CA;
	border-radius: 10px 0px;
}

#page{
	color:white;
}
ul {
	list-style: none;
}

h3{
	margin:20px 0 0;
}

.employee{
	padding:0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 0.8em;
		box-shadow: 0px -10px 20px rgba(0,0,0,0.2);
}
#employee {
	text-align: center;
	margin:30px;
	color: rgba(0,0,0,0.8);;
}



.employee div {
	text-align: center;
	width:95%;
	margin:auto;

}



.employee div img{
	width:50%;
	float:left;
	padding:10px;
	margin:10px;
	box-shadow: 0 10px  20px gray;
}




.form 	{
	background: linear-gradient(to bottom , rgba(196,208,191,0.9) transparent);
	padding:20px;
	margin-top: 10px;

}




form div{
	margin-top: 0px;
	padding:10px;
	display: flex;
	flex-direction: column;

}



textarea{
	margin-top: 20px;
	border:1px solid lightgray;
	height: 100%;
}

button{
	margin-top: 10px;
	padding:10px 20px;

		align-self: flex-end;
	border-radius: 10px 0;
	background:  #C4D0BF;
	color:white;
}

.under img{
	display: none;
	}

main {
	padding:5px;
	flex-direction: column;
}





	input {
		border-radius:20px 0;
		text-align: center;
		outline:0;
		border:0;
		border-top: 1px solid gray;

				margin-top: 20px;
	height: 30px;
	}
	input, textarea{
		transition-property: background;
		transition-duration: 0.6s;
	}
	input[type=text]:focus {
	background: #CFD8CA;
	box-shadow: none;
	outline: none;
	color:white;

}

textarea{
	outline: none;
}
	

	textarea:focus{
		background: #CFD8CA;
		color:white;
		border-radius: 0px 20px;
	}



	@media (min-width: 801px ){
	
	textarea{
		width: 500px;
		
		outline:none;
	}
		.under{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.under img{
	width:350px;
	height:263px;
	align-self: center;
	display: inline-block;
	margin:auto;
	box-shadow: 0 2px 20px rgba(0,0,0,0.6);


}


		.form h3{
			text-align: left
		}
	form {
	margin-top: 0px;
	padding:10px;
	display: flex;
	flex-direction: row;
	width:50%;
	}




	form div {
		flex-direction: column;
	}


		#employee {
	margin:20px;
	text-align: left;
	}
			.employee{
				flex-direction: row;
				margin:0;
			}
			.employee div{
				margin:0;
			}
			
			.employee div img{
float: none;	
margin-top: 50px;
	
}

	.info ul{
		margin:0;
		padding: 0;
	}
	.info p{
		text-align: center;
	}

	}


}


